/* for desktop*/

.col-1{width:8.33%}
.col-2{width:16.67%}
.col-3{width: 25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}             
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}



.navbar-logo{
    text-align:left;
}

.navbar-heading h1{
    text-align: right;
    margin-top: 20px;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}


.navbar-menu a{
    background-color: transparent;
    margin:30px 0px;
    padding:10px 10px;
}

/*profile design starts here*/

.profile-desc p{
    text-align: center;
    margin: 0 auto;
    width:50%;
}

.profile .top-weather-logo{
 position: relative;
    top:0px;
   
    left:550px;
    
   
}


.profile .bottom-weather-logo{
    position: relative;
    right:550px;
}


/*profile design ends here*/

/*about me starts here*/

.about-me-logo img{
   position: relative;
   left:280px;
   top:120px
}



.about-me-desc p{
    width:80%;
    margin: 10px 10px;
    padding: 10px;
    position: relative;
    top:100px;

}





.btn{
    padding: 20px;
    position: relative;
    left:400px;
}

/*about me ends here*/

.education-title{
    margin-top: 60px;
}


 
.card3{
    background-color: grey;
 width: 400px;
    height:700px;
}


.skill-logo img{
    width:100px;
    padding:20px;
    margin-left: 140px;
    margin-top: 20px;
    border:2px solid black;
    border-radius: 50%;
}

.achievement-contacts{
    background-color: #40868b;
}


.contact-icon{
   
position: relative;
}

.media-buttons{
    position: absolute;
    margin-top: 200px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}

/*footer design starts here*/

.footer-menu a{
    margin-top: 10px;
    display: inline;
}

/*footer design ends here*/