*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
 margin: 0; 
 padding:0; 

}

 img{
    width:100px;
    transition: width 1s linear;
    cursor:pointer;
}


img:hover{
    width:150px;
    
}
.profile-desc h1{
    font-size:40px;
    text-align: center;
}



.about-me p{
    width:90%;
    text-align: center;
   margin:10px 5px;
}

a{
    text-decoration: none;
    font-size:20px;
    color:white;
}

[class*="col-"]{
    float:left;
    padding:20px;
}
/*for mobile*/
[class*="col-"]{
   width:100%; 
}

/*navbar design starts here*/
.navbar{
    background-color: #40868b;
    padding:1% 7%;
    text-align: center;
}

.navbar h1{
    color:white;
    margin:0;
    padding-top:10px;
}

.navbar-menu{
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    background-color: #0c6168;
    margin:10px 0px;
    padding:10px;
    border-radius:10px;
}

.navbar-menu a:hover{
    background-color: gray;
    text-decoration: underline;
}

.navbar::after{
    content:'';
    clear:both;
    display:table;
}

/*navbar design ends here*/

/*profile design starts here*/

.profile{
    text-align: center;
   background-image: url("images/profile.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;

    
    
}


.profile .top-weather-logo{
   position: relative;
    padding:10px 20px;
    top:10px;
    left:180px;
    right:60px;
    transition:width 2s, transform 2s;
}

.profile .profile-desc{
    margin:10px 20px;
    top:140px;
    
}

.profile-desc h1{
    
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 30px;
    ;}

.profile .bottom-weather-logo{
  position: relative;
  
    right: 190px;
    transition:width 2s , transform 2s;
}

.profile-desc p{
    color:hsl(0, 98%, 50%);
    width:90%;
    margin:20px 0px;
}



.profile .top-weather-logo:hover{
    transform:rotate(360deg);
}


.profile .bottom-weather-logo:hover{
    transform:rotate(360deg);
   
}

.profile::after{
    content:'';
    display: table;
    clear: both;
}

/*profile design ends here*/
/*about me starts here*/
.about-me{
    margin-top: -42px;
   
    background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}


.about-me-logo img{
    width:130px;
    height:140px;
    margin-top: 50px;
   position: relative;
   left:180px;
   border: 2px solid black;
   border-radius: 50%;
   box-shadow: 5px 5px 15px 4px rgb(0,0,0,0.2);
   transition: width 3s, transform 3s;
}

.about-me-logo img:hover{
    width:200px;
    height:200px;
   
}

.dotted-hr{
    border:dotted 6px white;
    border-radius: 30%;
    margin:20px auto;
   border-bottom: none;
    width:100px;
    
}

.about-me h2{
    font-size: 50px;
   text-align: center;
   color:white;
   text-shadow: 3px 5px 4px rgb(212, 4, 178);
}

.about-alauddin a{
    color:chartreuse
}

.about-alauddin p{
    font-size: 20px;
    color:white;
    text-align: justify;
}

.about-me-desc p{
    width:90%;
    text-align: center;
   
    color:white;
    

}



.aboutme-hr{
    border: 2px solid white;
    
}


.about-me::after{
    content:'';
    clear:both;
    display: table;
}

.btn{
    padding: 20px;
    position: relative;
    top:20px;
    left:140px;
  
 
}

input[type=button]{
    padding:20px;
    background-color: black;
    color: white;
    font-size: 20px;
   cursor: pointer;
   border-radius: 20px;
  box-shadow: 5px 5px 5px 5px grey;
  
}

input[type=button]:hover{
    background-color: grey;
}


/*about me ends here*/

/* professional experience starts here*/

.professional-experience{
    background-color: rgb(7, 255, 193);
}

.work-experience{
    margin:10px 10px;
    padding: 10px;
}

.work-experience .card{
    background-color: gray;
    text-align: center;
    padding:10px;
    transition: 0.3s;
    height: 700px;
   
}

.card-icon img{
    border:2px solid white;
    border-radius: 50%;
    margin-top: 20px;
}

.card-title{
    background-color: rgb(82, 78, 78);
    margin: 10px ;
    color:white;
}

.card-desc {
   margin-top: 20px;
   text-align: justify;
}

.card-desc p{
    color:white;
    margin-left: 30px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 3px 5px 4px 4px black;
}

.education{
    background-color: gray;
    text-align: center;
    height: 700px;
    margin-top: 20px;
    padding:10px;
    margin-left: 15px;

}


.education-icon img{
    border:2px solid white;
    border-radius: 50%;
    margin-top: 20px;
}


.education-title{
    background-color: rgb(82, 78, 78);
    margin: 20px ;
    color:white;
}


.education-desc {
    margin-top: 20px;
    text-align: justify;
 }

 .education:hover{
    box-shadow: 3px 5px 4px 4px black;
 }




 
.card3{
    background-color: grey;
 
    height:700px;
}

.skill-logo img{
    width:100px;
    padding:20px;
    margin-left: 220px;
    margin-top: 20px;
    border:2px solid black;
    border-radius: 50%;
}

.skill-title{
    text-align:center;
    font-size: 20px;
    color:white;
    background-color: rgb(68, 67, 67);
    margin: 10px;
    margin-top: 0px;
   

}


  

.skill-container li{
    list-style-type: none;
    padding:13px;
    position: relative;
    text-align: justify;
    left: -10px;
   

}

.skill-container li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}


.skill-container li::before{
    content: '';
    width: 90%;
    height:15px;
    position: absolute;
    background-color: rgb(235, 232, 229);
    left: 10px;
    top:calc(100% + -6px);
    border-radius: 1000px;
}

.skill-container li::after{
    content: '';
    width: 0;
    height:15px;
    position: absolute;
    background-color: rgb(75, 107, 165);
    left:10px;
    top:calc(90% + -1px);
    border-radius: 1000px;
      
      
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: forwards;
}

.skill-container li.html::after{
    animation-name: alu;
}

@keyframes alu{

    to{
        width: 50%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.css::after{
    animation-name: alucss;
}

@keyframes alucss{

    to{
        width: 70%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.bs::after{
    animation-name: alubs;
}

@keyframes alubs{

    to{
        width: 30%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.js::after{
    animation-name: alujs;
}

@keyframes alujs{

    to{
        width: 60%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.jq::after{
    animation-name: alujq;
}

@keyframes alujq{

    to{
        width: 40%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.react::after{
    animation-name: alureact;
}

@keyframes alureact{

    to{
        width: 30%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.ex::after{
    animation-name: aluex;
}

@keyframes aluex{

    to{
        width: 80%;
        background-color: rgb(2, 183, 255);
    }
        
    
}


.skill-container li.c::after{
    animation-name: aluc;
}

@keyframes aluc{

    to{
        width:45%;
        background-color: rgb(2, 183, 255);
    }
        

}

.card3:hover{
    box-shadow: 3px 4px 5px 5px black;
}


.professional-experience::after{
    content:'';
    clear:both;
    display: table;
}

/* professional experience ends here*/

/* achievement contacts starts from here*/

.achievement{

    background-color: #40868b;
    height:588px;
}

.achievement-title h2{
    color:white;
    text-align: center;
}

.achievement-desc li {
    color:white;
}

.contact{
    background-color: #40868b;
    
}

.contact-title{
    color:white;
    text-align: center;
   
}

.contact-desc input, textarea{
    text-align: center;
    width: 100%;
    padding:10px;
    resize: none;
    font-size: 20px;
    border-radius: 10px;
}

.contact-desc button{
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    background-color:blueviolet;
    width:100px;
}

.contact-icon{
    background-color: #40868b;
}

.contact-icon button{
    position: relative;
    left:20px
}

.contact-icon h2{
    color:white;
    text-align: center;
}

.media-buttons .btn{
    border:none;
    border-radius: 25px;
    cursor: pointer;
    font-size:32px;
   padding:10px;
   margin:10px;
   
   width: 50px;
   height:50px;
   background-color: white;
}

.media-buttons .btn:hover{
    background-color: gray;
}

.achievement-contacts::after{
    content: '';
    clear:both;
    display:table;

}

/* achievement contacts ends from here*/

.footer{
    background-color:black;
    color:white;
   
}



.footer-menu a{
  text-align: center;
    font-size: 17px;
    padding:10px 10px;
    margin:10px;
    text-decoration:none;
    display:block;
 
   border-radius: 20px;
  
}

.footer-menu a:hover{
    background-color: darkgray;
}

.footer-desc{
    text-align: center;
}


.footer::after{
    content: '';
    clear:both;
    display:table;
}
